@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal {
  background-color: #fff;
  padding: 60px 40px;
  width: 100%;
  max-width: 612px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0px 20px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 588px;
  gap: 20px;
}

.title {
  font-size: $font-size-28;
  font-weight: $font-weight-bold;
  color: $primary-color;
  font-family: $font-family-roboto;
  letter-spacing: $letter-spacing-0-73;
}

.input {
  max-width: 556px;
  padding: 20px 15px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  border-radius: 5px;

  font-size: 16px;
  font-size: $font-size-20;
  font-family: $font-family-roboto;
  font-weight: $font-weight-regular;
  color: $primary-color;

  &:focus {
    outline: none;
    border-color: #eaeaea;
  }

  &::placeholder {
    color: rgba(85, 85, 85, 0.45);
  }
}

.transactionTypeContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;

  @media (max-width: 778px) {
    flex-direction: column;
  }

}

.typeButton {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  font-size: $font-size-20;
  font-family: $font-family-roboto;
  font-weight: $font-weight-regular;
  color: $primary-color;

  img {
    margin-right: 10px;
  }

  &:focus {
    outline: none;
    border-color: #eaeaea;
  }
}

.active {
  background-color: #eefaf1;
  border-color: $accent-color-2;
}

.negative {
  background-color: #faeef2;
  border-color: $accent-color-1;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-family: $font-family-roboto;

  img {
    cursor: pointer;
  }
}

.submitButton {
  width: 100%;
  height: 65px;
  max-width: 588px;
  background-color: $button-purple;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: $font-size-22;
  font-family: $font-family-roboto;
  font-weight: $font-weight-medium;
  color: $white-color;
  text-transform: uppercase;
  margin-top: 10px;
  transition: 0.3s;

  &:hover {
    background-color: $purple-color;
  }
}
