@import "./typography"; 
@import "./variables"; 
.text-style-1 {
  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-22;
  line-height: $line-height-29;
  letter-spacing: $letter-spacing-0;
  color: $white-color;
}

.text-style-2 {
  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-28;
  line-height: $line-height-37;
  letter-spacing: $letter-spacing-0-73;
  color: $primary-color;
}

.text-style-3 {
  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-18;
  line-height: $line-height-24;
  letter-spacing: $letter-spacing-0;
  color: $light-gray;
}

.text-style-4 {
  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: $font-weight-normal;
  font-size: $font-size-18;
  line-height: $line-height-24;
  letter-spacing: $letter-spacing-0;
  color: $medium-gray;
}

.text-style-5 {
  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-18;
  line-height: $line-height-24;
  letter-spacing: $letter-spacing-0;
  color: $highlight-color;
}

.text-style-6 {
  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-18;
  line-height: $line-height-24;
  letter-spacing: $letter-spacing-0;
  color: $accent-color-1;
}

.text-style-7 {
  font-family: $font-family-roboto;
  font-style: normal;
  font-weight: $font-weight-normal;
  font-size: $font-size-24;
  line-height: $line-height-32;
  letter-spacing: $letter-spacing-0;
  color: $dark-gray;
}

.text-style-8 {
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: $font-weight-medium;
  font-size: $font-size-42;
  line-height: $line-height-63;
  letter-spacing: $letter-spacing-0;
  color: $primary-color;
}
