$primary-color: #4e5555;
$secondary-color: #e23161;
$white-color: #ffffff;
$highlight-color: #06d6a2;
$purple-color: #401a9b;

$dark-gray: #484f55;
$medium-gray: #4c5a5a;
$light-gray: #b7bfc0;

$accent-color-1: #db3766;
$accent-color-2: #06d7a5;
