@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.container {
  width: 100%;
  max-width: 388px;
  height: 121px;
  background-color: $white-color;
  border-radius: 8px;
  padding: 27px 35px;
  margin: 0px 20px;

  &.valueTotalNeutral {
    background-color: $light-gray;
  }

  &.valueTotalPositive {
    background-color: $accent-color-2;
  }

  &.valueTotalNegative {
    background-color: $accent-color-1;
  }

  @media (max-width: 778px) {
    max-width: 100%;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-size: $font-size-24;
  color: $dark-gray;
  font-family: $font-family-roboto;
  font-weight: $font-weight-normal;
  letter-spacing: $letter-spacing-0;

  &.total {
    color: $white-color;
  }
}

.value {
  font-family: $font-family-poppins;
  font-weight: $font-weight-medium;
  font-size: $font-size-42;
  color: $primary-color;
  letter-spacing: $letter-spacing-0;

  &.valueTotal {
    color: $white-color;
  }

  @media (max-width: 950px) {
    font-size: $font-size-30;
  }

  @media (max-width: 778px) {
    font-size: $font-size-42;
  }
}
